<script type="text/javascript">
(function() {
    var $ = function(id) {return document.getElementById(id)};
    var scrollTop = function() {return document.documentElement.scrollTop || document.body.scrollTop};
    var backToTop = function() {
        var fromTop = scrollTop();
        if(fromTop){
            var to = 3 / (fromTop / 20) * 50;
            console.log(to);
            window.scrollBy(0, -20);
            window.timeout = setTimeout(backToTop, to);
        } else{
            clearTimeout(window.timeout);
        }
    };

    $('back-to-top').onclick = function(evt) {backToTop()};

    window.onscroll = function(evt) {
        console.log('111');
        if(scrollTop() > 500) {$('back-to-top').style.display = 'block';}else {$('back-to-top').style.display = 'none';}
    };

}())
</script>