
@import url(./markdown.css);
@import url(./font-awesome.min.css);

body {
    margin: 0px;
    overflow-x: hidden;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    /*background: rgba(253, 247, 229, 1);*/
    /*background-color: #ebe7df;*/
}


header {
    position: fixed;
    top: 100%;
    right: 0px;
    height: auto;
    width: 120px;
    overflow: hidden;
    transition: top 200ms ease-in;
    text-align: center;
}

header h1 {
}

header nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

header nav ul li {
    max-width: 100px;
    margin: 6px auto;
    overflow: hidden;
    display: block;
    height: 30px;
    line-height: 30px;
    /*background: rgba(75, 191, 195, 0.8);*/
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px #d9d9d9;
    /*border: 1px solid #d9d9d9;*/
    /*border-radius: 10px;*/
    text-align: center;
}
header nav ul li.active {
    /*background: rgba(27, 188, 155, 0.8);*/
    color: #FFF;
}

.side-bar {
    position: fixed;
    top: 0;
    left: -45px;
    width: 45px;
    height: 100%;
    background-color: rgba(42, 42, 42, 1);
    transition: left 200ms linear;
}
.side-bar ul {
    padding: 0;
}

.side-bar ul > li {
    display: block;
    height: 45px;
    width: 45px;
}
.side-bar ul > li > a {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    color: #999999;
    cursor: pointer;}
    .side-bar ul > li > a:hover {
        background-color: #f49484;
        color: #FFF;
    }

.side-bar ul > li > a > i { 
    /*font-size: 29px;*/
}

/*label*/
label.tool-btn {
    position: fixed;
    height: 33px;
    width: 33px;
    background: #e76b66;
    font-family: 'Courier new';
    color: #FFF;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    
}
#header-toggle-btn {
    display: block;
    bottom: 70px;
    right: 40px;
    box-shadow: 1px 1px 2px #d9d9d9;
    transition: transform 200ms linear;
}
#header-toggle {display: none;}
#header-toggle:checked + header { top: 50%;}
#header-toggle:checked ~ .side-bar { left: 0;}
#header-toggle:checked ~ .tool-btns #header-toggle-btn {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);     /* IE 9 */
    -moz-transform:rotate(360deg);    /* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg);  /* Opera */
}
#back-to-top {
    display: none;
    bottom: 30px;
    right: 40px;
}


div.side-wrapper {
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: -2;
    transition: padding-left 250ms ease-in;
}
div.side-wrapper .wrapper {
    width: 300px;
    height: 100%;
    background-image: url(../images/im3.jpg);
    background-position: center;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}


div.content {
    /*width: 100%;*/
    width: 700px;
    margin: 10px auto;
    transition: padding-left 250ms ease-in;
}


#posts-list {
    list-style: none;
    padding: 10px;}
    #posts-list li {
        margin-bottom: 10px;
    }

article {
    border-bottom: 1px dashed #d9d9d9;
}

div.meta * {
    display: inline-block;
}

address.author a {
    color: #4094c7;
    font-style: initial;
    font-size: 13px;
}

abbr.published, .modified {
    color: #717171;
    font-size: 13px;
}

a.category {
    display: inline-block;
    padding: 0px 16px;
    line-height: 25px;
    background-color: #e76b66;
    font-size: 12px;
    color: #FFF;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

p.tags a {
    color: #717171;
    font-size: 12px;
}

h1 {font-size: 1.5em;}

a {
    color: #555555;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    div.content {
        width: 85%;
    }
}

@media screen and (max-width: 400px) {
    div.content {
        width: 96%;
    }
}